/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HTML & Body Setup */
html, body {
  height: 100%;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: black;
}

.notes{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  padding: 40px;
}

.note{
  background-color: lightcoral;
  padding: 1rem 4rem;
  border-radius: 10px;
}

h1{
  font-weight: 900;
  color: white;
}

p{
  font-weight: 900;
  color: white;
}

.form{
  padding: 2rem;
}