/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HTML & Body Setup */
html, body {
  height: 100%;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.notes{
  padding: 2rem;
  display: flex;
  gap: 3rem;
  background-color: lightcyan;
}

.note{
  padding: 1rem;
  width: 15rem;
  text-align: center;
  color: white;
  border-radius: 1rem;
  background-color: black;
}

p{
  font-size: 1.3rem;
  font-weight: 900;
}

h{
  font-weight: 600;
  font-size: 1rem !important;
}